<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="header">
        <div class="container h-container">
            <h1 class="h-logo">WS Kazakhstan</h1>
            <a href="/">Logout</a>
        </div>
    </header>
    <div class="container b-container">
        <h2 class="h2 my-4">Workspace 1</h2>
        <h3 class="h3 center my-4">Bills Details</h3>
        <div class="d-flex align-items-center mb-4">
            <label for="selectId">Select</label>
            <select id="selectId" class="mx-2 form-select" name="month" >
                <option value="1">Hello</option>
                <option value="2">Hello</option>
                <option value="3">Hello</option>
                <option value="4">Hello</option>
            </select>
        </div>
        <table class="table border shadow-sm">
            <tr>
                <th>
                    Token
                </th>
                <th>Time</th>
                <th>Per sec.</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>
                    <h5 class="h5 fw-bold">Token</h5>
                    <p class="p">#1 Token</p>
                </td>
                <td>Name</td>
                <td>Token</td>
                <td>Deactivated at</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Token</td>
                <td><div class="btn btn-danger">Deactivate</div></td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Token</td>
                <td>Deactivated at</td>
            </tr>
        </table>
        <div class="d-flex justify-content-between">
            <h4 class="h4">Total:</h4>
            <p class="h5">5%</p>
        </div>
        
        <div class="py-4"></div>
    </div>
</body>
</html>